.App {
    text-align: center;
    background-color: lightslategray;
}

html {
    background-color: lightslategray;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

th:hover {
    background-color: lightslategray;
    border-radius: 40px;
    border-width: 20px;
}


#inputDiv {
    padding-bottom: 20px;
}

#inf {
    border-color: transparent;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.thumb {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;;
}

